{% extends "base_scripted.html"%}
{% block login_content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}
<div class="row">
<div class="col-4"></div>
<div class="col">
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
{% load i18n widget_tweaks %}
<div class="card card-body d-flex justify-content-center align-items-center">
    <div>
      {{ form.username.label_tag }}
      {{ form.username|attr:"class:form-control" }}
    </div>
    <div>
      {{ form.password.label_tag }}
      {{ form.password|attr:"class:form-control" }}
    </div>

    <div>
      <button type="submit" class="btn btn-primary mt-2" value="login">Login</button>
      <input type="hidden" class="invisible" name="next" value="{{ next }}" />
    </div>
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
<div class="col-4"></div>
</div>
{% endblock %}
{% block login_prompt %}
{% endblock %}