{% extends "base_fullscreen.html" %}
{% load filters %}
{% block pageScript %}
    <script>
        function select_all_trans(){
            $('.btn-translator').each(function() {
                $(this).addClass('active')
            });
            recheck_hidden_translators()
        }

        function deselect_all_trans() {
            $('.btn-translator').each(function() {
                $(this).removeClass('active')
            });
            recheck_hidden_translators()
        }

        function translator_show(tid){
            console.log('show for '+tid);
            $('.t-'+tid).each(function(){
                {#if($(this).parent().hasClass('card text-center small')){#}
                if($(this).parent().hasClass('event-container')){
                    $(this).parent().removeClass('hide_event')
                } else {
                    $(this).removeClass('hide_event')
                }
            })
        }

        function translator_hide(tid){
            console.log('hide for '+tid);
            $('.t-'+tid).each(function(){
                //check of split-column
                if($(this).parent().hasClass('event-container')){
                {#if($(this).parent().hasClass('card text-center small')){#}
                    $(this).parent().addClass('hide_event')
                } else {
                    $(this).addClass('hide_event')
                }
            })
        }

        function recheck_hidden_translators(){
            $('.btn-translator:not(.active)').each(function(){
                tid = $(this).attr('id');
                translator_hide(tid);
            });

            $('.btn-translator.active').each(function(){
                tid = $(this).attr('id');
                translator_show(tid);
            })
        }

        function recheck_weekends(){
            var found = 0;
            week_cols = $('.col.weekend');

            week_cols.each(function(){
                if ($(this).find(".card.text-center").length){
                    console.log('found event in weekend column');
                    found = 1;
                }
            });
            if (found === 0){
                console.log('hiding empty weekend columns');
                week_cols.each(function() {
                    $(this).addClass('d-none')
                });
            }
        }

{% if project %}
        function sess_quickedit(sessid){
            {#sessid = $(this).attr('data-sessid');#}
            console.log('clicked event for '+sessid);
            $('#charModal-content').load("/robotron/batch/"+sessid+"/edit_loader_pcal",function(){
                $('#charModal').modal({
                    show: true //Display modal
                });
            });
        }

{% else %}
        function sess_quickedit(sessid){
            {#sessid = $(this).attr('data-sessid');#}
            console.log('clicked event for '+sessid);
            $('#charModal-content').load("/robotron/batch/"+sessid+"/edit_loader_cal",function(){
                $('#charModal').modal({
                    show: true //Display modal
                });
            });
        }

{% endif %}


        $(function () {

            $('[data-toggle="popover"]').popover();

            $('.popover-dismiss').popover({
                trigger: 'focus'
            });

            $('.btn-translator').each(function () {
                $(this).on("click", function () {
                    tid = $(this).attr('id');
                    if ($(this).hasClass('active')) {
                        console.log('button deactivated for ' + tid);
                        translator_hide(tid);
                    } else {
                        console.log('button activated for ' + tid);
                        translator_show(tid);
                    }
                });
            });

            //add navigation to calendar buttons
            {% if project %}
                $("#nav_prev").attr(
                    "href", "{% url "project_calendar_range" year=nav_year_prev month=nav_month_prev pk=project.id %}"
                );
                $("#nav_next").attr(
                    "href", "{% url "project_calendar_range" year=nav_year_next month=nav_month_next pk=project.id %}"
                );
            {% else %}
                $("#nav_prev").attr(
                    "href", "{% url "calendar_range" year=nav_year_prev month=nav_month_prev %}"
                );
                $("#nav_next").attr(
                    "href", "{% url "calendar_range" year=nav_year_next month=nav_month_next %}"
                );
            {% endif %}

            //find current day by default
            var today = new Date().toISOString().slice(0, 10);
            console.log(today);
            $('#' + today).addClass("day-active border border-info");

            $("tr.row_clickable", "#calendar_month").each(function () {
                $(this).on("click", function (e) {
                    var start_day;
                    var end_day;
                    //build range from 1st / last cell value
                    for (i = 0; i < 7; i++) {
//                        console.log(i);
                        start_day = $('td:eq(' + i + ')', this).attr("id");
                        if (start_day !== "" && start_day !== undefined) {
                            //is it Monday?
                            d = new Date(start_day);
                            var day = d.getDay();
                            diff = d.getDate() - day + (day === 0 ? -6 : 1);
                            monday_date = new Date(d.setDate(diff));
                            monday_date = monday_date.toLocaleString('sv-SE').slice(0, 10);
                            //pass monday date to week loader
                            {% if project %}
                                $("#calendar_week_load_container").load("{% url "project_calendar_week_loader" pk=project.id %}" + '?mon=' + monday_date, function () {
                                    recheck_hidden_translators();
                                    recheck_weekends()
                                });
                            {% else %}
                                $("#calendar_week_load_container").load("{% url "calendar_week_loader" %}" + '?mon=' + monday_date, function () {
                                    recheck_hidden_translators();
                                    recheck_weekends()
                                });
                            {% endif %}

                            break;
                        }
                    }
                    for (j = 6; j >= 0; j--) {
                        end_day = $('td:eq(' + j + ')', this).attr("id");
                        if (end_day !== "" && end_day !== undefined) {
                            break;
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}

{% if project %}
{% else %}
{% endif %}

{% block title %}
    {% if project %}
        {{ project.name }} Calendar
    {% else %}
        Calendar
    {% endif %}
{% endblock %}

{% block minicrumbs %}
    {% if project %}
        {% if request.user|isTranslator %}
            <li class="breadcrumb-item active">Projects</li>
            <li class="breadcrumb-item active">{{ project.name }}</li>
        {% else %}
            <li class="breadcrumb-item"><a href="{% url "projects" %}">Projects</a></li>
            <li class="breadcrumb-item"><a href="{% url 'project' pk=project.id %}">{{ project.name }}</a></li>
        {% endif %}
        <li class="breadcrumb-item active">{{ project.name }} Calendar</li>
    {% else %}
        <li class="breadcrumb-item"><a href="{% url 'calendar' %}">Calendar</a></li>
    {% endif %}
{% endblock %}
{% block content %}
    {% load filters %}
    <table class="table table-hover table-striped table-borderless">
        <tr>
            <td style="width: 360px">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1">
                                    {% if project %}
                                        <div class="col-lg-12 col-lg-offset-3 text-center">
                                            <h4><strong>{{ project.name }}</strong>
                                            <br>
                                            <a role=button class="btn btn-sm btn-outline-secondary"
                                               href="{% url "export_project" pk=project.id %}">Export
                                                Project</a>
                                            <a role=button class="btn btn-sm btn-outline-secondary"
                                               href="{% url "project_stats" pk=project.id %}">Stats</a></h4></div>
                                    {% else %}
                                        <div class="col-lg-12 col-lg-offset-3 text-center"><h4><strong>All Projects</strong></h4>
                                        </div>
                                    {% endif %}
                                </a>
                            </h4>
                        </div>
                {{ calendar }}
                <div id="accordion">
                    <div class="card" align-content-center>
                        <div class="card-header" id="headingMonth">
                            <button class="btn btn-link show" data-toggle="collapse"
                                    data-target="#collapseMonth"
                                    aria-expanded="false" aria-controls="collapseMonth">
                                Translators
                            </button>
                        </div>
                        <div id="collapseMonth" class="show" aria-labelledby="headingMonth"
                             data-parent="#accordion">
                            <div class="card-body">
                                <div class="row justify-content-center mb-1">
                                    <div class="btn-group-sm" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                                onclick="select_all_trans()">
                                            Select All
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                                onclick="deselect_all_trans()">
                                            Deselect All
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <button type="button" data-toggle="button" aria-pressed="true"
                                            class="btn btn-sm btn-block btn-translator btn-t-0 active" id="0">UNASSIGNED
                                    </button>
                                </div>
                                {% if translators %}
                                    {% for t in translators %}
                                        <div class="row">
                                            <button type="button" data-toggle="button" aria-pressed="true"
                                                    class="btn btn-sm btn-block btn-translator btn-t-{{ t.id }} active"
                                                    id="{{ t.id }}">{{ t.name }}</button>
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            </td>
            <td>
                <div id="calendar_week_load_container">
                    <div class="jumbotron robotorial border border-danger">
                        <div class="container">
                            <h3>Calendar Tips #1</h3>
                            <p class="lead">Click any calendar week on the left to display detailed results</p>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
{#    <hr class="fat-hr">#}

    <!-- Modal -->
    <div class="modal fade" id="charModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="charModal-content">
            </div>
        </div>
    </div>
{% endblock %}