<div class="modal-header">
    <h5 class="modal-title" id="charModalLabel">Character Quick Edit</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

    {% if form %}
{#        {{ form.media }}#}
        {% load i18n widget_tweaks %}
        <form method="POST" action="{% url "character_loader_mini" pk=character.id %}">
        {% csrf_token %}
        <div class="modal-body" >
            <table class="table table-sm table-borderless">
            <tbody>
            <tr><th scope="row">Character: </th>
                <td>{% if mini %}{{ character.name }}{% else %}{{ form.name|attr:"class:form-control form-control-sm" }}{% endif %}</td>
            </tr>
            <tr><th scope="row">Actor: </th>
                <td>{{ form.actor|attr:"class:form-control form-control-sm" }}</td></tr>
            <tr><th scope="row">Files: </th>
                <td>{% if mini %}{{ character.files_count }}{% else %}{{ form.files_count|attr:"class:form-control form-control-sm" }}{% endif %}</td>
            </tr>
            <tr><th scope="row">Delivery Date: </th>
                <td>{% if mini %}{{ character.delivery_date|date:"Y-m-d" }}{% else %}{{ form.delivery_date|attr:"class:form-control form-control-sm" }}{% endif %}</td>
            </tr>
            <tr><th scope="row">Delivery Time: </th>
                <td>{% if mini %}{{ character.delivery_time|time:"H:i" }}{% else %}{{ form.delivery_time|attr:"class:form-control form-control-sm" }}{% endif %}</td>
            </tr>
            <tr><th scope="row">Comments: </th>
                <td>{% if mini %}{{ character.char_note|linebreaksbr }}{% else %}{{ form.char_note|attr:"class:form-control form-control-sm"|attr:"rows:3" }}{% endif %}</td>
                    </tr>
            </tbody>
            </table>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary btn-sm">Save changes</button>
        </div>
        </form>
    {% endif %}


    <script>
        $( function() {
            $( "#id_delivery_date" ).datepicker({
                "dateFormat": "yy-mm-dd",
                "firstDay": 1
            });
            $( "#id_delivery_time" ).timepicker({
                'timeFormat':'H:i',
                'scrollDefault':'now'
            });
        } );
    </script>