{% extends "base_scripted.html" %}
{% block title %}RoboTRON{% endblock %}

{% block breadcrumb %}
    <div aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">HOME /</li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="jumbotron robotorial border border-danger">
      <div class="container">
        <h3>Home Page</h3>
        <p class="lead">This is a default landing page for Roboto users.
          Studio users will be redirected to their projects list instead.
          Clicking 'Home' or little icon on navbar will also redirect to this page.</p>
          <p><small>Tutorial messages are meant mostly for DEMO mode. In Normal view user can switch them off.</small></p>
      </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-body">
            <div class="row">

                <div class="col-md-4">
                    <a href="{% url "studios" %}"
                       class="btn btn-danger btn-lg d-flex align-items-center justify-content-center"
                       role="button">Studios</a>
                </div>
                <div class="col-md-4">
                    <a href="{% url "projects" %}"
                       class="btn btn-warning btn-lg d-flex align-items-center justify-content-center"
                       role="button">Projects</a>
                </div>
                <div class="col-md-4">
                    <a href="{% url "users" %}"
                       class="btn btn-primary btn-lg d-flex align-items-center justify-content-center"
                       role="button">Users</a>
                </div>
            </div>
            <div class="row">

                <div class="col-md-4">
                    <a href="{% url "calendar" %}"
                       class="btn btn-info btn-lg d-flex align-items-center justify-content-center"
                       role="button">Calendar</a>
                </div>
                <div class="col-md-4">
                    <a href="{% url "assets" %}"
                       class="btn btn-success btn-lg d-flex align-items-center justify-content-center"
                       role="button">Assets</a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}