{% extends "base_scripted.html" %}

{% block title %}Manage Assets{% endblock %}

{% block minicrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Assets</li>
{% endblock %}
{% load i18n widget_tweaks %}
{##}
{% block content %}
    <div class="jumbotron robotorial border border-danger">
        <div class="container">
            <h3>Assets Managing page</h3>
            <p class="lead">On this page Roboto Users can edit and remove unused entries for Actors, Directors or
                Translators. <br>Only unassigned Assets can be removed.</br></p>
        </div>
    </div>
    <h2>Assets</h2>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingTranslators">
                <button class="btn btn-primary collapsed" data-toggle="collapse"
                        data-target="#collapseTranslators"
                        aria-expanded="false" aria-controls="collapseTranslators">
                    Translators
                </button>
            </div>
            {% if form_errors == 'error_translators' %}
                <div id="collapseTranslators" class="collapse show" aria-labelledby="headingTranslators"
                     data-parent="#accordion">
            {% else %}
                <div id="collapseTranslators" class="collapse" aria-labelledby="headingTranslators"
                     data-parent="#accordion">
            {% endif %}

            <div class="card-body">
                <div class="row align-items-center">
                    {% if formset_translator|length > 0 %}

                        <form method="post" class="container">
                            {% csrf_token %}
                            {{ formset_translator.management_form }}
                            <div class="row">
                                <div class="col-6">Translator Name</div>
                                <div class="col-5" data-toggle="tooltip" title="Assigned Translators cannot be deleted">
                                    Delete *
                                </div>
                            </div>

                            {% for form in formset_translator %}
                                <div class="d-none">{{ form.id }}</div>
                                <div class="row">
                                    <div class="col-6">{{ form.name|attr:"class:form-control" }}</div>
                                    <div class="col-3">{{ form.DELETE|attr:"class:btn"|attr:"class:btn-danger" }}</div>
                                </div>
                            {% endfor %}


                            <div class="row">
                                <div class="col-md">
                                    <button type="submit" class="btn btn-primary float-lg-right">Update</button>
                                    <a class="btn btn-secondary float-lg-right mr-1" href="." role="button">Undo
                                        Changes</a>
                                    <input type="text" name="translators_control" value="1" class="invisible">
                                </div>
                            </div>
                            {% if form_errors == 'error_translators' %}
                                <div class="row">
                                    <div class="alert alert-danger col-md-8 align-content-lg-center">
                                        ERROR: Selected Translator is assigned to a session and cannot be deleted.
                                    </div>
                                </div>
                            {% endif %}
                        </form>
                    {% else %}
                        <div class="alert alert-info">
                            No records in the database.
                        </div>
                    {% endif %}
                </div>
            </div>
            </div>
            </div>
            <div id="accordion">
                <div class="card">
                    <div class="card-header" id="headingDirectors">
                        <button class="btn btn-primary collapsed" data-toggle="collapse"
                                data-target="#collapseDirectors"
                                aria-expanded="false" aria-controls="collapseDirectors">
                            Directors
                        </button>
                    </div>
                    {% if form_errors == 'error_directors' %}
                        <div id="collapseDirectors" class="collapse show" aria-labelledby="headingDirectors"
                             data-parent="#accordion">
                    {% else %}
                        <div id="collapseDirectors" class="collapse" aria-labelledby=" headingDirectors"
                             data-parent="#accordion">
                    {% endif %}

                    <div class="card-body">
                        <div class="row align-items-center">
                            {% if formset_director|length > 0 %}
                                <form method="post" class="container">
                                    {% csrf_token %}
                                    {{ formset_director.management_form }}
                                    <div class="row">
                                        <div class="col-6">Director Name</div>
                                        <div class="col-3" data-toggle="tooltip"
                                             title="Assigned Directors cannot be deleted">Delete *
                                        </div>
                                    </div>
                                    {% for form in formset_director %}
                                        <div class="d-none">{{ form.id }}</div>
                                        <div class="row">
                                            <div class="col-6">{{ form.name|attr:"class:form-control" }}</div>
                                            <div class="col-3">{{ form.DELETE|attr:"class:btn"|attr:"class:btn-danger" }}</div>
                                        </div>
                                    {% endfor %}
                                    <div class="row">
                                        <div class="col-md">
                                            <button type="submit" class="btn btn-primary float-lg-right">Update</button>
                                            <a class="btn btn-secondary float-lg-right mr-1" href="." role="button">Undo
                                                Changes</a>
                                            <input type="text" name="directors_control" value="1" class="invisible">
                                        </div>
                                    </div>
                                    {% if form_errors == 'error_directors' %}
                                        <div class="row">
                                            <div class="alert alert-danger col-md-8 align-content-lg-center">
                                                ERROR: Selected Director is assigned to a session and cannot be deleted.
                                            </div>
                                        </div>
                                    {% endif %}

                                </form>
                            {% else %}
                                <div class="alert alert-info">
                                    No records in the database.
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    </div>
                    </div>
                </div>
                <div id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingActors">
                            <button class="btn btn-primary collapsed" data-toggle="collapse"
                                    data-target="#collapseActors"
                                    aria-expanded="false" aria-controls="collapseActors">
                                Actors
                            </button>
                        </div>
                        {% if form_errors == 'error_actors' %}
                            <div id="collapseActors" class="collapse show" aria-labelledby="headingActors"
                                 data-parent="#accordion">
                        {% else %}
                            <div id="collapseActors" class="collapse" aria-labelledby="headingActors"
                                 data-parent="#accordion">
                        {% endif %}
                        <div class="card-body">
                            <div class="row align-items-center">
                                {% if formset_actor|length > 0 %}
                                    <form method="post" class="container">
                                        {% csrf_token %}
                                        {{ formset_actor.management_form }}
                                        <div class="row">
                                            <div class="col-6">Actor Name</div>
                                            <div class="col-3" data-toggle="tooltip"
                                                 title="Assigned Actors cannot be deleted">Delete *
                                            </div>
                                        </div>
                                        {% for form in formset_actor %}
                                            <div class="d-none">{{ form.id }}</div>
                                            <div class="row">
                                                <div class="col-6">{{ form.name|attr:"class:form-control" }}</div>
                                                <div class="col-3">{{ form.DELETE|attr:"class:btn"|attr:"class:btn-danger" }}</div>
                                            </div>
                                        {% endfor %}
                                        <div class="row">
                                            <div class="col-md">
                                                <button type="submit" class="btn btn-primary float-lg-right">Update
                                                </button>
                                                <a class="btn btn-secondary float-lg-right mr-1" href="." role="button">Undo
                                                    Changes</a>
                                                <input type="text" name="actors_control" value="1" class="invisible">
                                            </div>
                                        </div>
                                        {% if form_errors == 'error_actors' %}
                                            <div class="row">
                                                <div class="alert alert-danger col-md-8 align-content-lg-center">
                                                    ERROR: Selected Actor is assigned to a session and cannot be
                                                    deleted.
                                                </div>
                                            </div>
                                        {% endif %}
                                    </form>
                                {% else %}
                                    <div class="alert alert-info">
                                        No records in the database.
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(document).ready(function () {
                        $('[data-toggle="tooltip"]').tooltip();
                    });

                </script>
{% endblock %}