{#{{ calendar_week }}#}
{% load filters %}

<div class="row flex-nowrap" id="calendar_week">
    <div id="hour_column" style="background-color: rgba(108, 117, 125, 0.15); width: 50px; align-content: right">
        <div class="row h6 justify-content-center m-0 pb-1"></div>
        <div class="row h6 justify-content-center m-0 pb-1"></div>
        {% for val in 24|get_range %}
            {% if val < 7 %}
                {% if rare_hours %}
                    <div class="rare_hours" style="height: 17px; font-size:17px; align-content: right">&nbsp{{ val }}:00</div>
                    <div class="rare_hours" style="height: 15px; font-size:13px; align-content: right"></div>
                {% endif %}
            {% else %}
                    <div style="height: 17px; font-size:17px; align-content: right">&nbsp{{ val }}:00</div>
                    <div style="height: 15px; font-size:13px; align-content: right"></div>
            {% endif %}
        {% endfor %}

    </div>
    <div class="col p-0 border-right">
        <div class="row h6 border-bottom justify-content-center m-0 pb-1">{{ mon_date|date:"d.m" }}</div>
        <div class="row h6 border-bottom justify-content-center m-0 pb-1">Mon</div>
        {{ mon_events }}
    </div>
    <div class="col p-0 border-right" style="background-color: rgba(108, 117, 125, 0.15)">
        <div class="row h6 border-bottom justify-content-center m-0 pb-1">{{ mon_date|addDays:1|date:"d.m" }}</div>
        <div class="row h6 border-bottom justify-content-center m-0 pb-1">Tue</div>
        {{ tue_events }}
    </div>
    <div class="col p-0 border-right">
        <div class="row h6 border-bottom justify-content-center m-0 pb-1">{{ mon_date|addDays:2|date:"d.m" }}</div>
        <div class="row h6 border-bottom justify-content-center m-0 pb-1">Wed</div>
        {{ wed_events }}
    </div>
    <div class="col p-0 border-right" style="background-color: rgba(108, 117, 125, 0.15)">
        <div class="row h6 border-bottom justify-content-center m-0 pb-1">{{ mon_date|addDays:3|date:"d.m" }}</div>
        <div class="row h6 border-bottom justify-content-center m-0 pb-1">Thu</div>
        {{ thu_events }}
    </div>
    <div class="col p-0 border-right">
        <div class="row h6 border-bottom justify-content-center m-0 pb-1">{{ mon_date|addDays:4|date:"d.m" }}</div>
        <div class="row h6 border-bottom justify-content-center m-0 pb-1">Fri</div>
        {{ fri_events }}
    </div>
    <div class="col p-0 border-right weekend" style="background-color: rgba(108, 117, 125, 0.15)">
        <div class="row h6 border-bottom justify-content-center m-0 pb-1">{{ mon_date|addDays:5|date:"d.m" }}</div>
        <div class="row h6 border-bottom justify-content-center m-0 pb-1">Sat</div>
        {{ sat_events }}
    </div>
    <div class="col p-0 weekend">
        <div class="row h6 border-bottom justify-content-center m-0 pb-1">{{ mon_date|addDays:6|date:"d.m" }}</div>
        <div class="row h6 border-bottom justify-content-center m-0 pb-1">Sun</div>
        {{ sun_events }}
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip({
            html: true
        })
        $('[data-toggle="popover"]').popover();
    })

</script>
