{% extends "base_scripted.html"%}
{% block title %}{{ character.batch.project.name }}: {{ character.name }}{% endblock %}

{% block minicrumbs %}
<li class="breadcrumb-item"><a href="{{ character.batch.project.get_absolute_url }}">{{ character.batch.project.name }}</a></li>
<li class="breadcrumb-item"><a href="{{ character.batch.get_absolute_url }}">{{ character.batch.name }}</a></li>
<li class="breadcrumb-item active" aria-current="page">{{ character.name }}</li>
{% endblock %}

{% block content %}
    <h2>Character: <strong>{{ character.name }}</strong></h2>	
    <p>
    <div class="row">
        <div class="col-6">
            <div class="row align-items-center">
                <div class="col-md-auto">
                    <h4>Details</h4>
                </div>
                <div class="col">
                    <button type="button" class="btn btn-outline-primary" data-toggle="collapse"
                       data-target="#updateForm" aria-pressed="false" href="#">ADMIN - Edit</button>
                </div>
            </div>
            <br>
        <table class="table table-sm">
        <tbody>
            <tr><th scope="row">Batch: </th><td>{{ character.batch.name }}</td></tr>
{#            <!-- <tr><th scope="row">Character: </th><td>{{ character.name }}</td></tr> -->#}
            <tr><th scope="row">Actor: </th><td>{{ character.actor.name }}</td></tr>
            <tr><th scope="row">Files: </th><td>{{ character.files_count }}</td></tr>
            <tr><th scope="row">Delivery Date: </th><td>{{ character.delivery_date|date:"Y-m-d" }}&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ character.delivery_time|time:"H:i" }}</td></tr>
        </tbody>
        </table>
        </div>
        <div class="col">
            {# make this one container for editable form? #}
            {% if form %}
{#                {{ form.media }}#}
                {% load i18n widget_tweaks %}
                <form method="POST" action=".">
                {% csrf_token %}
                {% if form.errors %}
                    <div class="row align-items-center collapse show no-transition" id="updateForm">
                {% else %}
                    <div class="row align-items-center collapse no-transition" id="updateForm">
                {% endif %}
                    <table class="table table-sm table-borderless m-1" >
                        <!-- MANUAL FORM PLACEMENT !-->
                        <tr class="invisible"><td class="p-0">.</td></tr>
                        <tr>
                            <td colspan="2"><button type="submit" class="btn btn-outline-primary btn-sm">{% trans "Update" %}</button></td>
                        </tr>
                        <tr>
                            <td class="p-0" colspan="2">{{ form.name|attr:"class:form-control form-control-sm" }}</td>
                            <td>
                            {% if form.name.errors %}
                                {% for error in  form.name.errors %}{{ error }}{% endfor %}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0" colspan="2">{{ form.actor|attr:"class:form-control form-control-sm" }}</td>
                            <td>
                            {% if form.actor.errors %}
                                {% for error in  form.actor.errors %}{{ error }}{% endfor %}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0" colspan="2">{{ form.files_count|attr:"class:form-control form-control-sm" }}</td>
                            <td>
                            {% if form.files_count.errors %}
                                {% for error in  form.files_count.errors %}{{ error }}{% endfor %}
                            {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td class="p-0">{{ form.delivery_date|attr:"class:form-control form-control-sm" }}</td>
                            <td class="p-0">{{ form.delivery_time|attr:"class:form-control form-control-sm" }}</td>
                            <td>
                            {% if form.delivery_date.errors %}
                                {% for error in  form.delivery_date.errors %}{{ error }}{% endfor %}
                            {% endif %}
                            </td>
                        <td>
                            {% if form.delivery_time.errors %}
                                {% for error in  form.delivery_time.errors %}{{ error }}{% endfor %}
                            {% endif %}
                            </td>
                        </tr>
                        <!-- AUTO FORM PLACEMENT !-->
{#                        {% for field in form %}#}
{#                            <tr>#}
{#                                <td>{{ field|attr:"class:form-control form-control-sm" }}</td>#}
{#                                <td>#}
{#                                {% if field.errors %}#}
{#                                    {% for error in  field.errors %}{{ error }}{% endfor %}#}
{#                                {% endif %}#}
{#                                </td>#}
{#                            </tr>#}
{#                        {% endfor %}#}
                    </table>
                    </div>
                </form>
            {% endif %}
        </div>
        <div class="col"></div>
    </div>
	<hr>
    <div class="jumbotron robotorial border border-danger">
        <div class="container">
            <h3>Character Sessions</h3>
                <p class="lead">Here you will find all planned Sessions for current Character. You can Edit them and i.e. reassign Director or when it starts.</p>
        </div>
    </div>

    <div class="row align-items-center">
        <div class="col-md-auto">
            <h4>Sessions</h4>
        </div>
        <div class="col">
            <a role=button class="btn btn-outline-primary" href="{% url "manage_char_sessions" pk=character.id %}" data-toggle="tooltip" title="Edit Character Sessions">Edit</a>
        </div>
    </div>
    <p>
    {% if session_list %}
        <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Day</th>
                <th>Hour</th>
                <th>Duration</th>
                <th>Director</th>
                <th>Translator</th>
            </tr>
        </thead>
        <tbody>
        {% for session in session_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ session.day|date:"d-m-Y"}}</td>
                <td>{{ session.hour|time:"H:i" }}</td>
                <td>{{ session.duration }}</td>
                <td>{{ session.director.name }}</td>
                <td>{{ session.translator.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    {% else %}
       <div class="alert alert-info">This character has currently no sessions.</div>
    {% endif %}
{% endblock %}
{% block after_bootstrap %}
    <script>
        $( function() {
            $( "#id_delivery_date" ).datepicker({
                "dateFormat": "yy-mm-dd",
                "firstDay": 1
            });
            $( "#id_delivery_time" ).timepicker({
                'timeFormat':'H:i',
                'scrollDefault':'now'
            });
        } );
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
        
    </script>
{% endblock %}