{% extends "base_scripted.html"%}
{% block title %}Projects{% endblock %}
{% block content %}
    <h1>ProjectList</h1>
    {% if project_list %}
        <div class="list-group">
          {% for project in project_list %}
              <a href="{{ project.get_absolute_url }}" class="list-group-item list-group-item-action">{{ project.name }} ( {{ project.studio.name }})</a>
          {% endfor %}
        </div>
    {% else %}
       <div class="alert alert-info">There are no projects in the database.</div>
    {% endif %}
{% endblock %}