{% extends "base_scripted.html"%}

{% block title %}Project: {{ project.name }}{% endblock %}
{% block page_alerts %}
    <div class="alert alert-warning">
    {% if  project.batch_count != batch_list.count  %}
        <p>! Number of batches different than declared: (current: {{ batch_list.count }}, expected: {{ project.batch_count }} )</p>
    {% endif %}
    {% if  total_chars != project.char_count  %}
        <p class="mb-0">! Number of characters different than declared: (current: {{ total_chars|default_if_none:0 }}, expected: {{ project.char_count }} )</p>
    {% endif %}
    </div>
{% endblock %}
{% block content %}
    <h1>{{ project.name }}</h1>
    <div class="row">
    <div class="col">
    <table class="table table-striped table-sm">
        <tbody>
        <tr><th scope="row">Studio: </th><td><a href="{{ project.studio.get_absolute_url }}">{{ project.studio.name }}</a></td></tr>
        <tr><th scope="row">Director: </th><td>{{ project.director.name }}</td></tr>
        <tr><th scope="row">Batches: </th><td>{{ project.batch_count }}</td></tr>
        <tr><th scope="row">Files: </th><td>{{ project.files_count }}</td></tr>
        <tr><th scope="row">Words: </th><td>{{ project.word_count }}</td></tr>
        <tr><th scope="row">Characters: </th><td>{{ project.char_count }}</td></tr>
        <tr><th scope="row">Actors: </th><td>{{ project.actor_count }}</td></tr>
        <tr><th scope="row">SFX: </th><td>{{ project.sfx_note }}</td></tr>
        <tr><th scope="row">TC: </th><td>{{ project.tc_note }}</td></tr>
        </tbody>
    </table>
    </div>
        <div class="col"></div>
    </div>
    <h2>Batches:</h2>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-primary" data-toggle="collapse" data-target="#batchForm" aria-pressed="false" aria-expanded="false">Add New</button>
{#        <button>Import CSV</button>#}
    </div>
    {% load i18n widget_tweaks %}
    <form action="" method="POST" id="batch-form">
        {% csrf_token %}
        <div class="form-row collapse" id="batchForm">
            {% for field in form %}
            {% if field.errors %}
                <div class="form-group has-error col-md-2">
                    <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    {{ field|attr:"class:form-control" }}
                    <div class="alert alert-danger">
                        {% for error in  field.errors %}{{ error }}{% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="form-group col-md-2">
                    <label class="control-label" for="id_{{ field.name }}">{{ field.label }}</label>
                    {{ field|attr:"class:form-control" }}
                </div>
            {% endif %}
        {% endfor %}
        <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
        </div>
        </div>
    </form>
    {% if batch_list %}
        <table class="table table-borderless table-sm table-hover">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Start Date</th>
                <th scope="col">Deadline</th>
                <th scope="col">Files</th>
                <th scope="col">Words</th>
                <th scope="col">Characters</th>
                <th scope="col">Sessions</th>
            </tr>
        {% for batch in batch_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ batch.name }}</td>
                <td>{{ batch.start_date }}</td>
                <td>{{ batch.deadline }}</td>
                <td>{{ batch.files_count }}</td>
                <td>{{ batch.word_count }}</td>
                <td>{{ batch.char_count }}</td>
                <td><a href="{{ batch.get_absolute_url }}">View Details</a></td>
            </tr>
        {% endfor %}

        </table>
    {% else %}
       <div class="alert alert-info">No batches added.</div>
    {% endif %}
{% endblock %}
{% block custom_script_end %}
    <!--
    <script type="text/javascript">
        // batch form submit
        $('#batch-form').on('submit', function(event){
            event.preventDefault();
            console.log("form submitted!");// sanity check
            create_batch();
        });

        function create_batch() {
            console.log('create batch fired');
        }
    </script>
    !-->
{% endblock %}