{% extends "base_scripted.html" %}
{% block title %}Projects{% endblock %}

{% block minicrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Projects</li>
{% endblock %}

{% block content %}

    {% load filters %}

    <div class="jumbotron robotorial border border-danger">
        <div class="container">
            <h3>Projects</h3>
            {% if request.user|isRoboto %}
                <p class="lead">This page list all Projects assigned to specific Studios.<br> Only Projects w/o Batches and Sessions can be deleted<br>You can view selected Project Calendar clicking on suspicious button named: View Calendar</p>
            {% else %}
                <p class="lead">This page lists all projects you are currently working on.</p>
            {% endif %}
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-auto">
            <h2>Projects</h2>

        </div>
        {% if request.user|isRoboto %}
            <div class="col-sm">
                <a role=button class="btn btn-outline-primary" href="{% url "create_project" %}">Add New</a>
            </div>
        {% endif %}
    </div>
    <hr>
    {% if project_list %}
        <div class="list-group">
            {% for project in project_list %}
                <div class="row align-items-center">
                    <div class="col-sm-7">
                        <a href="{{ project.get_absolute_url }}" class="list-group-item list-group-item-action">
                            {% if project.num_batches > 0 %}
                                <span class="badge badge-primary">{{ project.num_batches }}</span>
                            {% else %}
                                <span class="badge badge-secondary">{{ project.num_batches }}</span>
                            {% endif %}
                            {{ project.name }} ( {{ project.studio.name }})
                        </a>
                    </div>

                    <div class="col-sm">
                        <div class="btn-group" role="group">
                            {% if request.user|isRoboto %}
                                <a role=button class="btn btn-outline-primary"
                                   href="{% url "update_project" pk=project.id %}">Edit</a>
                                {% if project.num_batches > 0 %}
                                    <button type="button" class="btn btn-outline-secondary" disabled>Archive</button>
                                {% else %}
                                    <a role=button class="btn btn-outline-primary"
                                       href="{% url "delete_project" pk=project.id %}">Delete</a>
                                {% endif %}
                                <a role=button class="btn btn-outline-primary"
                                   href="{% url "project_calendar" pk=project.id %}">View Calendar</a>
                                <a role=button class="btn btn-outline-primary"
                                   href="{% url "export_project" pk=project.id %}">Export</a>
                                {% if request.user|isRoboto %}
                                    <a role=button class="btn btn-outline-primary"
                                       href="{% url "project_stats" pk=project.id %}">Stats</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info">There are no projects assigned to this account.<br> Please contact your Account
            Manager for more information.
        </div>
    {% endif %}
{% endblock %}