{% extends "base_scripted.html"%}
{% block title %}Update Project{% endblock %}

{% block minicrumbs %}
<li class="breadcrumb-item"><a href="{% url "projects" %}">Projects</a></li>
<li class="breadcrumb-item"><a href="..">{{ form.name.value }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Update</li>
{% endblock %}

{% block content %}
    {{ form.media }}
    <form method="post">
    {% csrf_token %}
        {% load i18n widget_tweaks %}
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        
        <h4>
        Update Project details
        <hr>
        </h4>
         {% for field in form %}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="id_{{ field.name }}">{{ field.label }}</label>
                <div class="col-sm-8">
                {% if "note" in field.name %}
                    {{ field|attr:"class:form-control"|attr:"rows:5" }}
                {% else %}
                    {{ field|attr:"class:form-control" }}
                {% endif %}
                </div>
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="alert alert-danger">
                        {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        <div class="form-group row justify-content-end">
            <div class="col">
            <button type="submit" class="btn btn-primary float-right">{% trans "Update" %}</button>
            <a class="btn btn-secondary mr-1 float-right" href="." role="button">Undo Changes</a>
            </div>
            <div class="col-2"></div>
        </div>
    </form>
{% endblock %}