{% extends "base_scripted.html"%}
{% load filters %}
{% block title %}Studio: {{ studio.name }}{% endblock %}

{% block minicrumbs %}
{% if request.user|isRoboto %}
    <li class="breadcrumb-item"><a href="{% url "studios" %}">Studios</a></li>
{% else %}
    <li class="breadcrumb-item active">Studios</li>
{% endif %}
    <li class="breadcrumb-item active" aria-current="page">{{ studio.name }}</li>

{% endblock %}

{% block content %}
    <div class="row align-items-center">
        <div class="col-md-auto">
            <h4>{{ studio.name }}</h4>
        </div>
        <div class="col">
            <a role=button class="btn btn-outline-primary" href="{% url "update_studio" pk=studio.id %}">Edit</a>
        </div>
    </div>
    <hr>
    <div class="row align-items-center">
    <div class="col">
    <table class="table table-striped">
        <tbody>
        <tr><th scope="row">Address: </th><td>{{ studio.address }}</td></tr>
        <tr><th scope="row">Telephone: </th><td>{{ studio.telephone }}</td></tr>
        <tr><th scope="row">E-Mail: </th><td>{{ studio.email }}</td></tr>
        <tr><th scope="row">Note: </th><td>{{ studio.note }}</td></tr>
        </tbody>
    </table>
        </div>
        <div class="col"></div>
    </div>
    <hr>
    <h4>Assigned Projects:</h4>
    {% if project_list %}
        <div class="list-group">
          {% for project in project_list %}
              <a href="{{ project.get_absolute_url }}" class="list-group-item list-group-item-action">{{ project.name }}</a>
          {% endfor %}
        </div>
    {% else %}
       <div class="alert alert-info">This studio has no associated projects.</div>
    {% endif %}
    <hr>
    <h6>Current Users:</h6>
    {% if user_list %}
        <div class="list-group">
        {% for user in user_list %}
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <a href="{% url 'user_profile' pk=user.id %}?next={{ request.path|urlencode }}" class="list-group-item list-group-item-action">{{ user.username }}</a>
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
       <div class="alert alert-info">No users added to this account.</div>
    {% endif %}
{% endblock %}