{% extends "base.html" %}
{% block title %}Users{% endblock %}

{% block minicrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Users</li>
{% endblock %}

{% block content %}
    {% load filters %}
    <div class="jumbotron robotorial border border-danger">
      <div class="container">
        <h3>Users List</h3>
        <p class="lead">Here all Users with their respective Studios are listed.
            You can create new users or edit existing ones.<br>
            User can be assigned to only one Studio. Roboto Users can access all Projects and Studios.<br>
            Roboto Translators are limited to Calendar views.
        </p>
      </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-auto">
        <h3>Active users</h3>
        </div>
        <div class="col">
            <a role="button" class="btn btn-outline-primary" href="{% url "create_user" %}" disabled>Add New</a>
        </div>
    </div>
    {% if active_users %}
        <td class="container">
        <table class="table table-hover table-striped table-borderless">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Studio</th>
        </tr>
        </thead>
          {% for user in active_users %}
              {% if user.is_superuser %}
              {% else %}
              <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.userprofile.studio.name }}</td>
                <td><div class="btn-group" role="group">
                  <a role='button' class="btn btn-outline-primary" href="{% url 'user_profile' pk=user.id %}?next={{ request.path|urlencode }}">Edit</a>
                  <button role='button' class="btn btn-outline-danger" onclick="deactivate_user({{ user.id }})">Delete</button>
                </div></td>
              </tr>
              {% endif %}
          {% endfor %}
        </table>
    {% else %}
       <div class="alert alert-info">There are no active users in the database.</div>
    {% endif %}
<hr class="slim-hr">
    <div class="jumbotron robotorial border border-danger">
      <div class="container">
        <h3>Handling Deletion</h3>
        <p class="lead">
            Deleting Active Users will mark them as Inactive which makes logging in impossible.<br>
            Deleting Inactive Users will remove them permanently.<br>
            THIS ACTION CANNOT BE UNDONE.
        </p>
      </div>
    </div>
<div class="row align-items-center">
    <div class="col-md-auto">
        <h3>Inactive users</h3>
    </div>
</div>
    {% if inactive_users %}
        <td class="container">
        <table class="table table-hover table-striped table-borderless">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Studio</th>
        </tr>
        </thead>
          {% for user in inactive_users %}
              {% if user.is_superuser %}
              {% else %}
              <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.userprofile.studio.name }}</td>
                <td><div class="btn-group" role="group">
                  <a role='button' class="btn btn-outline-primary" href="{% url 'user_profile' pk=user.id %}?next={{ request.path|urlencode }}">Edit</a>
                  <button class="btn btn-outline-primary" onclick="activate_user({{ user.id }})">Reactivate</button>
                  <button class="btn btn-outline-danger" onclick="delete_user({{ user.id }})">DELETE</button>
                </div></td>
              </tr>
              {% endif %}
          {% endfor %}
        </table>
    {% else %}
       <div class="alert alert-info">There are no inactive users in the database.</div>
    {% endif %}
{% endblock %}
{% block custom_script_end %}
<script type="text/javascript">
    var timeOutHandler;

    function deactivate_user(userid){
        console.log('deactivation initialized');
        $.ajax({
            url:"/robotron/users/"+userid+"/deactivate",
            beforeSend: function(){
                timeOutHandler = setTimeout(function(){
                    $("#loadMe").modal({
                      backdrop: "static", //remove ability to close modal with click
                      keyboard: false, //remove option to close with keyboard
                      show: true //Display loader!
                    });
                },1000);

            },
            complete: function(){
                clearTimeout(timeOutHander);
                $("#loadMe").modal("hide");
            },
            success:function(){
                console.log('deactivation successful');
                window.location.reload();
            },
        })
    }

    function activate_user(userid){
        console.log('activation initialized');
        $.ajax({
            url:"/robotron/users/"+userid+"/activate",
            beforeSend: function(){
                timeOutHandler = setTimeout(function(){
                    $("#loadMe").modal({
                      backdrop: "static", //remove ability to close modal with click
                      keyboard: false, //remove option to close with keyboard
                      show: true //Display loader!
                    });
                },1000);

            },
            complete: function(){
                clearTimeout(timeOutHander);
                $("#loadMe").modal("hide");
            },
            success:function(){
                console.log('activation successful');
                window.location.reload();
            },
        })
    }

    function delete_user(userid){
        console.log('user delete initialized');
        $.ajax({
            url:"/robotron/users/"+userid+"/delete",
            beforeSend: function(){
                timeOutHandler = setTimeout(function(){
                    $("#loadMe").modal({
                      backdrop: "static", //remove ability to close modal with click
                      keyboard: false, //remove option to close with keyboard
                      show: true //Display loader!
                    });
                },1000);

            },
            complete: function(){
                clearTimeout(timeOutHander);
                $("#loadMe").modal("hide");
            },
            success:function(){
                console.log('delete successful');
                window.location.reload();
            },
        })
    }
</script>
{% endblock%}