{% extends "base_scripted.html" %}
{% block title %}Users{% endblock %}

{% block minicrumbs %}
    <li class="breadcrumb-item active" aria-current="page">Users</li>
{% endblock %}

{% block content %}
    {% load filters %}
    <div class="jumbotron robotorial border border-danger">
      <div class="container">
        <h3>Users List [WIP - not active]</h3>
        <p class="lead">Here are listed all Users with their respective Groups.<br>
            You can Add new Users here and associate them with a respective Studio.<br>
            Currently only one User can be assigned to a Studio. Roboto Users can access all Projects and Studios.
        </p>
      </div>
    </div>
<div class="row align-items-center">
    <div class="col-md-auto">
    <h2>Users</h2>
    </div>
    <div class="col">
        <button class="btn btn-outline-primary" href="#" disabled>Add New</button>
    </div>
    </div>
    {% if user_list %}
        <td class="container">
        <table class="table table-hover table-striped table-borderless">
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th>Studio</th>
        </tr>
        </thead>
          {% for user in user_list %}
              {% if user.is_superuser %}
              {% else %}
              <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                {% if user|isRoboto %}
                    <td class="border border-success">::ROBOTO::</td>
                {% elif user|hasStudio == None %}
                    <td>--</td>
                {% else %}
                <td>{{ user|hasStudio }}</td>
                {% endif %}
                      <td><div class="btn-group" role="group">
                          <button class="btn btn-outline-primary" href="#" disabled>Edit</button>
                          <button class="btn btn-outline-danger" href="#" disabled>Delete</button>
                      </div></td>
              </tr>
              {% endif %}
          {% endfor %}
        </table>
    {% else %}
       <div class="alert alert-info">There are no users in the database.</div>
    {% endif %}
{% endblock %}